@(subject: String, memberInstallment: MemberInstallment)

@import play.i18n._;
@import views.html.common.templates.mailTemplate;

@mailTemplate(subject: String) {
    <h1>@Messages.get("memberInstallment.mail.body.line1")</h1>
    <p>@Messages.get("memberInstallment.mail.body.line2", memberInstallment.getInstallment.getSubscription.toString)</p>
    <p>@Messages.get("memberInstallment.mail.body.line3", memberInstallment.getInstallment.getAmount)</p>
    <p>@Messages.get("memberInstallment.mail.body.line4", memberInstallment.getInstallment.getDueDate)</p>
    <p>@Messages.get("memberInstallment.mail.body.line5")</p>
}
