@import url(https://fonts.googleapis.com/css?family=Cabin:400,600);

.app-title {
    margin: 0;
    font-family: Cabin;
    color: white;
}

.container {

}

.side-bar {
    background-color: seagreen;
    height: 100vh;
}

.user-info {
    margin-bottom: 10px;
    margin-top: 10px;
}

.user-info .avatar {

}

.user-info .avatar img {
    width: 50px;
    border: solid 1px white;
}

.user-info .info {
    margin-top: 5px;
    color: white;
}

.user-info .info span {
    display: block;
    font-size: 11px;
}

.user-info .info strong {
    display: block;
    font-size: 12px;
    line-height: 10px;
}

.user-info .info a {
    display: inline;
    font-size: 10px;
    color: whitesmoke;
}

.nav-main .nav-item {
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
}

.nav-main .nav-item strong {
    display: block;
    width: auto;
    color: white;
}

.nav-main .nav-item a {
    display: block;
    width: auto;
    color: whitesmoke;
    font-size: 12px;
    margin-left: 5px;
}

.content {
    margin-top: 10px;
}

.content .section-subtitle {
    border-bottom: dotted 1px seagreen;
}

.content .search-engine {
    margin-top: 10px;
    margin-bottom: 10px;
}

.content .component-list .item-id {
    color: seagreen;
}

.content .component-list .toolbar a,
.content .component-list .toolbar a:hover {
    color: seagreen;
    text-decoration: none;
}
