@import java.util
@import models.formData.SelectOptionItem
@(
        field: Field,
        label: String,
        optionMap: util.Map[SelectOptionItem, Boolean],
        isMultiple: Boolean,
        help: String,
        error: String = "",
        required: Boolean = false
)
    @import play.i18n.Messages;

    <div class="form-group @if(field.hasErrors) {has-error}">
        <label class="control-label" for="@field.id">
            @label
            @if(required) {(*)}
        </label>
        <div class="control-item">
            <select
            class="form-control select2"
            id="@field.id" @if(isMultiple) {multiple="multiple"}
            name="@if(isMultiple) {@(field.name + "[]")} else {@field.name}"
            @if(required) {
                required
            }
                @if(isMultiple) {
                    multiple="multiple"}>
                @if(!isMultiple) {
                    <option class="blank" value="">@Messages.get("app.common.form.select.default")</option>
                }
            @if(!required) {
                <option class="blank" value="">@Messages.get("app.common.form.select.unselect")</option>
            }
                @for( (optionItem, isSelected) <- optionMap) {
                    <option
                    id="@optionItem.getValue"
                    value="@optionItem.getValue"
                        @if(isSelected) {
                            selected="selected"}>
                    @optionItem.getName
                    </option>
                }
            </select>
            <span class="help-block">@help</span>
            <span class="error-block">@{
                field.error.map { error => error.message }
            }</span>
        </div>
    </div>
