@import services.formData.PaymentFormData

@(title: String, formData: play.data.Form[PaymentFormData], memberInstallment: MemberInstallment, amountDue: String)

@import play.i18n.Messages;
@import views.html.common.parts._;
@import views.html.common.templates.clean;
@import views.html.bootstrap._

@clean(title) {
    <div class="login-box">

        <div class="login-logo">
            <b>@Messages.get("app.global.title")</b>
        </div>
        <div class="box box-solid">
            @notification()
            <div class="box-header with-border">
                <h4 class="text-center">@memberInstallment.getInstallment.getSubscription.toString</h4>
                <p class="text-light-blue text-center">@memberInstallment.getMember.toString</p>
                <p class="text-black text-center">@Messages.get("paymentPublic.form.amount.due"): @amountDue</p>
            </div>
            <div class="box-body">
            @if(memberInstallment.getPaid) {
                <p class="login-box-msg">@Messages.get("paymentPublic.form.payed.title")</p>

            } else {
                <p class="login-box-msg">@Messages.get("paymentPublic.form.header.title")</p>
                @helper.form(action = routes.PaymentController.registerPublicPayment()) {

                    @input(formData("amount"),
                        label = Messages.get("payment.form.label.amount"),
                        placeholder = Messages.get("payment.form.placeholder.amount"),
                        help = Messages.get("payment.form.helper.amount"),
                        error = Messages.get("payment.form.validation.amount"),
                        required = true,
                        glypho = "glyphicon-eur"
                    )

                    @hidden(formData("memberToken"))
                    @hidden(formData("memberInstallmentToken"))
                    @hidden(formData("token"))

                    <div class="row">
                        <div class="col-md-offset-4 col-xs-4">
                            <button type="submit" class="btn btn-danger btn-block btn-flat">
                            @Messages.get("app.global.form.pay")
                            </button>
                        </div>
                    </div>

                }
            }
            </div>
        </div>
    </div>
}
