@(title: String, payment: Payment, business: String, url: String)

    @import views.html.common.templates.clean;

    @clean(title) {
        <form action = "@url" method="post" id="paypal">
            <INPUT TYPE="hidden" name="cmd" value="_donations">
            <input type="hidden" name="business" value="@business">
            <input type="hidden" name="amount" value="@payment.getAmount">
            <input type="hidden" name="item_name" value="@payment.getMemberInstallment.getInstallment.getSubscription.toString">
            <input type="hidden" name="item_number" value="@payment.getId">
            <input type="hidden" name="first_name" value="@payment.getMemberInstallment.getMember.getName">
            <input type="hidden" name="last_name" value="@payment.getMemberInstallment.getMember.getLastName">
            <input type="hidden" name="address1" value="@payment.getMemberInstallment.getMember.getAddress">
            <input type="hidden" name="city" value="@payment.getMemberInstallment.getMember.getCity">
            <input type="hidden" name="state" value="@payment.getMemberInstallment.getMember.getState">
            <input type="hidden" name="zip" value="@payment.getMemberInstallment.getMember.getCp">
            <input type="hidden" name="night_phone_a" value="@payment.getMemberInstallment.getMember.getPhone">
            <input type="hidden" name="email" value="@payment.getMemberInstallment.getMember.getEmail">
            <INPUT TYPE="hidden" name="address_override" value="1">
            <INPUT TYPE="hidden" NAME="return" value="@routes.PaymentController.paymentComplete(payment.getToken).absoluteURL()">
        </form>
        <script type="application/javascript">
                $(document).ready(function() {
                    $("#paypal").submit();
                });
        </script>
    }
