@import services.formData.AdminUserFormData

@(title: String, adminUserForm: play.data.Form[AdminUserFormData])

@import play.i18n.Messages;
@import views.html.common.parts._;
@import views.html.common.templates.main;
@import views.html.bootstrap._


@main(title) {

    <div class="box box-primary">

        <div class="box-header with-border">
        @notification()
        </div>

        @helper.form(action = routes.AdminUserController.save()) {

            <div class="box-body">
                <div class="row">

                    <div class="col-md-3">
                    @input(adminUserForm("name"),
                        label = Messages.get("adminUser.form.label.name"),
                        placeholder = Messages.get("adminUser.form.placeholder.name"),
                        help = Messages.get("adminUser.form.helper.name"),
                        error = Messages.get("adminUser.form.validation.name"),
                        required = true
                    )
                    </div>

                    <div class="col-md-4">
                    @input(adminUserForm("lastName"),
                        label = Messages.get("adminUser.form.label.lastName"),
                        placeholder = Messages.get("adminUser.form.placeholder.lastName"),
                        help = Messages.get("adminUser.form.helper.lastName"),
                        error = Messages.get("adminUser.form.validation.lastName"),
                        required = true
                    )
                    </div>


                    <div class="col-md-5">
                    @input(adminUserForm("email"),
                        label = Messages.get("adminUser.form.label.email"),
                        placeholder = Messages.get("adminUser.form.placeholder.email"),
                        help = Messages.get("adminUser.form.helper.email"),
                        error = Messages.get("adminUser.form.validation.email"),
                        required = true,
                        fieldType = "email"
                    )
                    </div>
                    @if(adminUserForm.get().getMode == 1) {
                        <div class="col-md-4">
                        @input(adminUserForm("password"),
                            label = Messages.get("adminUser.form.label.password"),
                            placeholder = Messages.get("adminUser.form.placeholder.password"),
                            help = Messages.get("adminUser.form.helper.password"),
                            error = Messages.get("adminUser.form.validation.password"),
                            required = false,
                            showValue = false
                        )
                        </div>
                    }

                </div>

                @hidden(adminUserForm("id"))
                @hidden(adminUserForm("token"))
                @hidden(adminUserForm("mode"))
                @if(adminUserForm.get().getMode == 0) {

                    @hidden(adminUserForm("password"))
                }

            </div>

            <div class="box-footer">
                <button id="submit" type="submit" value="Submit" class="btn btn-success">@Messages.get("app.global.form.submit")</button>
                <a id="cancel" href="@routes.AdminUserController.index()" class="btn btn-danger cancel" role="button">@Messages.get("app.global.form.cancel")</a>
            </div>
        }
    </div>
}
