@()
<a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <img src="@routes.Assets.versioned("AdminLTE-2.3.0/dist/img/user2-160x160.jpg")" class="user-image" alt="User Image">
    <span class="hidden-xs">Alexander Pierce</span>
</a>
<ul class="dropdown-menu">
        <!-- User image -->
    <li class="user-header">
        <img src="@routes.Assets.versioned("AdminLTE-2.3.0/dist/img/user2-160x160.jpg")" class="img-circle" alt="User Image">
        <p>
            Alexander Pierce - Web Developer
            <small>Member since Nov. 2012</small>
        </p>
    </li>
        <!-- Menu Footer-->
    <li class="user-footer">
        <div class="pull-left">
            <a href="#" class="btn btn-default btn-flat">Profile</a>
        </div>
        <div class="pull-right">
            <a href="#" class="btn btn-default btn-flat">Sign out</a>
        </div>
    </li>
</ul>
