@()
    @import play.i18n._;

    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <img src="@session.get("gravatar")" class="user-image" alt="User Image">
        <span class="hidden-xs">@session.get("name")</span>
    </a>
    <ul class="dropdown-menu">
        <li class="user-header">
            <img src="@session.get("gravatar")" class="img-circle" alt="User Image">
            <p>
            @session.get("name")
            </p>
        </li>
        <li class="user-footer">
            <div class="pull-left">
                <a href="@routes.AdminUserController.edit(session.get("token"))" class="btn btn-default btn-flat">@Messages.get("user.general.profile.edit")</a>
            </div>
            <div class="pull-right">
                <a href="@routes.UserController.logout()" class="btn btn-default btn-flat">@Messages.get("user.general.logout.label")</a>
            </div>
        </li>
    </ul>
