@import java.util
@import services.Pager

@(title: String, subscriptions: util.List[models.Subscription], pager: Pager)

    @import play.i18n.Messages;
    @import views.html.common.parts._;
    @import views.html.common.templates.main;
    @import views.common.helpers.TemplateHelpers

    @main(title) {

        <div class="box">
            <div class="box-header with-border">
                @notification()
                <a href="@routes.SubscriptionController.create()" class="btn btn-primary pull-right" role="button">@Messages.get("subscription.form.global.new.title")</a>
            </div>
            <div class="box-body">
            @if(!subscriptions.isEmpty) {
                <table class="table table-bordered">
                    <tr>
                        <th>@Messages.get("subscription.list.table.id")</th>
                        <th>@Messages.get("subscription.list.table.title")</th>
                        <th>@Messages.get("subscription.list.table.amount")</th>
                        <th>@Messages.get("subscription.list.table.periodicity")</th>
                        <th>@Messages.get("subscription.list.table.subscribers")</th>
                        <th>@Messages.get("subscription.list.table.installments")</th>

                        <th>&nbsp;</th>
                    </tr>
                    @for( subscription <- subscriptions) {
                        <tr>
                            <th class="item-id">@subscription.getSubscriptionId</th>
                            <td class="item-title">@subscription.getTitle</td>
                            <td class="item-info">@("%.2f".format(subscription.getAmount)) &euro;</td>
                            <td class="item-info">@subscription.getPeriodicity</td>
                            <td class="item-info">@subscription.getMembers.size()</td>
                            <td class="item-info">@subscription.getInstallments.size()</td>

                            <td>
                                <div class="toolbar">
                                    @if(subscription.getMembers.isEmpty) {
                                        <button type="button" class="btn btn-danger fa fa-trash-o" data-toggle="modal" data-target=".remove-subscription-modal-@subscription.getToken"></button>
                                    }
                                <a href="@routes.SubscriptionController.edit(subscription.getToken)" role="button" class="btn btn-primary fa fa-pencil-square-o"></a>
                                <a href="@routes.SubscriptionController.show(subscription.getToken)" role="button" class="btn btn-primary fa fa-folder-open-o"></a>
                                </div>
                                @if(subscription.getMembers.isEmpty) {
                                    <div class="modal modal-danger remove-subscription-modal-@subscription.getToken">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span></button>
                                                    <h4 class="modal-title">Irreversible Subscription Deletion</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Do you really wish to remove <strong>@subscription.toString</strong>
                                                        and all its installement information?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">
                                                        Close</button>
                                                    <a role="button" href="@routes.SubscriptionController.remove(subscription.getToken)" class="btn btn-outline">
                                                        Delete subscription</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </td>
                        </tr>
                    }
                </table>
            } else {
                <div class="callout callout-info">
                    <h4>@Messages.get("subscription.list.empty.title")</h4>
                    <p>@Messages.get("subscription.list.empty.text") <a href="@routes.SubscriptionController.create()">@Messages.get("subscription.list.empty.link")</a></p>
                </div>
            }
            </div>
            <div class="box-footer clearfix">
            @if(!subscriptions.isEmpty) {
                @if(pager.getTotalPages > 1) {
                    <ul class="pagination pagination-sm no-margin pull-right">
                        @if(pager.getCurrentPage > 1) {
                            <li><a href="@routes.SubscriptionController.index(pager.getCurrentPage - 1)">&laquo;</a></li>
                        }
                        @for( index <- TemplateHelpers.createRange(pager.getCurrentPage, pager.getPageSize, pager.getTotalPages)) {
                            <li @if(pager.getCurrentPage == index) {
                                class='active'}><a href="@routes.SubscriptionController.index(index)">@index</a></li>
                        }
                        @if(pager.getCurrentPage < pager.getTotalPages) {
                            <li><a href="@routes.SubscriptionController.index(pager.getCurrentPage + 1)">&raquo;</a></li>
                        }
                    </ul>
                }
            }
            </div>
        </div>
    }
