@import java.util
@import com.avaje.ebean.SqlRow
@import models.subscription.Subscription
@(subscription: Subscription, statisticData: util.List[SqlRow])

    @import play.i18n._;
    @import views.html.common.parts._;
    @import views.html.common.templates.main;

    @main(Messages.get("app.global.title") + " - " + subscription) {
        <div class="row">
            <div class="col-md-3">

                <div class="box box-primary">
                    <div class="box-body box-profile">
                        <h3 class="profile-username text-center">@subscription.toString</h3>

                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <b>@Messages.get("subscription.form.label.amount")</b> <a class="pull-right">@subscription.getFormattedAmount</a>
                            </li>
                            <li class="list-group-item">
                                <b>@Messages.get("subscription.form.label.periodicity")</b> <a class="pull-right">@subscription.getFormattedDueDate</a>
                            </li>
                            <li class="list-group-item">
                                <b>@Messages.get("subscription.form.label.periodicity")</b> <a class="pull-right">@subscription.getPeriodicity</a>
                            </li>
                            <li class="list-group-item">
                                <b>@Messages.get("subscription.form.label.subscribers")</b> <a class="pull-right">@subscription.getMembers.size()</a>
                            </li>

                        </ul>

                        <a href="@controllers.subscription.routes.SubscriptionController.edit(subscription.getToken)" class="btn btn-primary btn-block"><b>@Messages.get("subscription.form.global.edit.title")</b></a>
                    </div>
                </div>

            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">@Messages.get("payment.show.chart.subscription")</h3>
                                <div class="box-body">
                                    <div class="chart">
                                        <canvas id="lineChart" style="height:250px"></canvas>
                                    </div>

                                    <script src="@routes.Assets.versioned("AdminLTE-2.3.0/plugins/jQuery/jQuery-2.1.4.min.js")"></script>

                                    <script src="@routes.Assets.versioned("AdminLTE-2.3.0/plugins/chartjs/Chart.min.js")"></script>
                                    <script>
                                            $(function () {
                                                var areaChartData = {
                                                    labels: [
                                                        @for( item <- statisticData) {
                                                        "@item.get("period")",
                                                        }
                                                    ],
                                                    datasets: [
                                                        {
                                                            label: "@Messages.get("payment.show.chart.subscription")",
                                                            fillColor: "rgba(210, 214, 222, 1)",
                                                            strokeColor: "rgba(210, 214, 222, 1)",
                                                            pointColor: "rgba(210, 214, 222, 1)",
                                                            pointStrokeColor: "#c1c7d1",
                                                            pointHighlightFill: "#fff",
                                                            pointHighlightStroke: "rgba(220,220,220,1)",
                                                            data: [
                                                                @for( item <- statisticData) {
                                                                "@item.get("amount")",
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                };

                                                var areaChartOptions = {
                                                    //Boolean - If we should show the scale at all
                                                    showScale: true,
                                                    //Boolean - Whether grid lines are shown across the chart
                                                    scaleShowGridLines: false,
                                                    //String - Colour of the grid lines
                                                    scaleGridLineColor: "rgba(0,0,0,.05)",
                                                    //Number - Width of the grid lines
                                                    scaleGridLineWidth: 1,
                                                    //Boolean - Whether to show horizontal lines (except X axis)
                                                    scaleShowHorizontalLines: true,
                                                    //Boolean - Whether to show vertical lines (except Y axis)
                                                    scaleShowVerticalLines: true,
                                                    //Boolean - Whether the line is curved between points
                                                    bezierCurve: true,
                                                    //Number - Tension of the bezier curve between points
                                                    bezierCurveTension: 0.3,
                                                    //Boolean - Whether to show a dot for each point
                                                    pointDot: false,
                                                    //Number - Radius of each point dot in pixels
                                                    pointDotRadius: 4,
                                                    //Number - Pixel width of point dot stroke
                                                    pointDotStrokeWidth: 1,
                                                    //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
                                                    pointHitDetectionRadius: 20,
                                                    //Boolean - Whether to show a stroke for datasets
                                                    datasetStroke: true,
                                                    //Number - Pixel width of dataset stroke
                                                    datasetStrokeWidth: 2,
                                                    //Boolean - Whether to fill the dataset with a color
                                                    datasetFill: true,
                                                    //String - A legend template
                                                    legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].lineColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>",
                                                    //Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
                                                    maintainAspectRatio: true,
                                                    //Boolean - whether to make the chart responsive to window resizing
                                                    responsive: true
                                                };

                                                //-------------
                                                //- LINE CHART -
                                                //--------------
//                                                var lineChartCanvas = $("#lineChart").get(0).getContext("2d");
//                                                var lineChart = new Chart(lineChartCanvas);
//                                                var lineChartOptions = areaChartOptions;
//                                                lineChartOptions.datasetFill = false;
//                                                lineChart.Line(areaChartData, lineChartOptions);

                                                //-------------
                                                //- BAR CHART -
                                                //-------------
                                                var barChartCanvas = $("#lineChart").get(0).getContext("2d");
                                                var barChart = new Chart(barChartCanvas);
                                                var barChartData = areaChartData;
                                                barChartData.datasets[0].fillColor = "#00a65a";
                                                barChartData.datasets[0].strokeColor = "#00a65a";
                                                barChartData.datasets[0].pointColor = "#00a65a";
                                                var barChartOptions = {
                                                    //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
                                                    scaleBeginAtZero: true,
                                                    //Boolean - Whether grid lines are shown across the chart
                                                    scaleShowGridLines: true,
                                                    //String - Colour of the grid lines
                                                    scaleGridLineColor: "rgba(0,0,0,.05)",
                                                    //Number - Width of the grid lines
                                                    scaleGridLineWidth: 1,
                                                    //Boolean - Whether to show horizontal lines (except X axis)
                                                    scaleShowHorizontalLines: true,
                                                    //Boolean - Whether to show vertical lines (except Y axis)
                                                    scaleShowVerticalLines: true,
                                                    //Boolean - If there is a stroke on each bar
                                                    barShowStroke: true,
                                                    //Number - Pixel width of the bar stroke
                                                    barStrokeWidth: 2,
                                                    //Number - Spacing between each of the X value sets
                                                    barValueSpacing: 5,
                                                    //Number - Spacing between data sets within X values
                                                    barDatasetSpacing: 1,
                                                    //String - A legend template
                                                    legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].fillColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>",
                                                    //Boolean - whether to make the chart responsive
                                                    responsive: true,
                                                    maintainAspectRatio: true
                                                };

                                                barChartOptions.datasetFill = false;
                                                barChart.Bar(barChartData, barChartOptions);
                                            });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">@Messages.get("member.show.payment.history")</h3>
                            </div>
                            <div class="box-body">
                            @if(!subscription.getInstallments.isEmpty) {
                                <ul>
                                @for( installment <- subscription.getInstallments) {
                                    <li>@installment.toString</li>
                                    @if(!installment.getPayments.isEmpty) {
                                        <ul>
                                        @for( payment <- installment.getPayments) {
                                            <li>@payment.toString - @payment.getMemberInstallment.getMember.toString</li>
                                        }
                                        </ul>
                                    }
                                }
                                </ul>
                            } else {
                                <div class="callout callout-info">
                                    <h4>@Messages.get("member.show.payment.empty")</h4>
                                </div>
                            }

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    }
