@import services.formData.LoginFormData
@(title: String, formData: play.data.Form[LoginFormData])

    @import play.i18n.Messages;

    @import views.html.common.parts._;
    @import views.html.common.templates.loginPage;
    @import views.html.bootstrap._


    @loginPage(title) {
        <div class="login-box">
            <div class="login-logo">
                <b>@Messages.get("app.global.title")</b>
            </div>

            <div class="login-box-body">
                @notification()
                <p class="login-box-msg">@Messages.get("login.form.header.title")</p>
                @helper.form(action = routes.UserController.authenticate()) {
                    @input(formData("email"),
                        label = Messages.get("login.form.label.email"),
                        placeholder = Messages.get("login.form.placeholder.email"),
                        help = Messages.get("login.form.helper.email"),
                        error = Messages.get("login.form.validation.email"),
                        fieldType = "email",
                        required = true,
                        glypho = "glyphicon-envelope"
                    )

                    @input(formData("password"),
                        label = Messages.get("login.form.label.password"),
                        placeholder = Messages.get("login.form.placeholder.password"),
                        help = Messages.get("login.form.helper.password"),
                        error = Messages.get("login.form.validation.password"),
                        fieldType = "password",
                        required = true,
                        glypho = "glyphicon-lock"
                    )

                    <div class="row">
                        <div class="col-md-offset-8 col-xs-4">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">
                            @Messages.get("login.form.submit.label")
                            </button>
                        </div>
                    </div>
                }


                <a href="@routes.UserController.passwordRecovery()">@Messages.get("login.form.password.link")</a> <br>

            </div>
        </div>
    }
