@import java.util
@(members: util.List[models.Member], title: String)

    @import play.i18n.Messages;
    @import views.html.common.parts._;
    @import views.html.common.templates.main;

    @main(title) {

        <div class="box">
            <div class="box-header with-border">
                @notification()
                <a href="@routes.MemberController.create()" class="btn btn-primary pull-right" role="button">@Messages.get("member.form.global.new.title")</a>
            </div>
            <div class="box-body">
            @if(!members.isEmpty) {
                <table class="table table-bordered">
                    <tr>
                        <th>#</th>
                        <th>@Messages.get("member.list.table.name")</th>
                        <th>@Messages.get("member.list.table.phone")</th>
                        <th>@Messages.get("member.list.table.email")</th>
                        <th>&nbsp;</th>
                    </tr>
                    @for( member <- members) {
                        <tr>
                            <th class="item-id">@member.getMemberId</th>
                            <td class="item-title">@member.getLastName, @member.getName</td>
                            <td class="item-info">@member.getPhone</td>
                            <td class="item-info">@member.getEmail</td>
                            <td>
                                <div class="toolbar">
                                    <a href="@routes.MemberController.remove(member.getToken)" role="button" class="btn btn-danger fa fa-trash-o"></a>
                                    <a href="@routes.MemberController.makePayment(member.getToken)" role="button" class="btn btn-success fa fa-money"></a>
                                    <a href="@routes.MemberController.edit(member.getToken)" role="button" class="btn btn-primary fa fa-pencil-square-o"></a>
                                    <a href="@routes.MemberController.show(member.getToken)" role="button" class="btn btn-primary fa fa-folder-open-o"></a>
                                </div>
                            </td>
                        </tr>

                    }
                </table>
            } else {
                <div class="callout callout-info">
                    <h4>@Messages.get("member.list.empty.title")</h4>
                    <p>@Messages.get("member.list.empty.text") <a href="@routes.MemberController.create()">@Messages.get("member.list.empty.link")</a></p>
                </div>
            }
            </div>
            <div class="box-footer clearfix">
            @if(!members.isEmpty) {
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li><a href="#">&laquo;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            }
            </div>
        </div>
    }
