@import java.util
@(members: util.List[models.Member], title: String)

@import play.i18n.Messages;
@import views.html.common._

@main(Messages.get("app.global.title") + " - " + title) {

    @common.pageHeader(title)

    @common.notification()

    <section class="search-engine">
        <div class="row">
            <div class="col-md-12">
                <form>
                    <div class="row">
                        <div class="col-md-10 col-xs-12">
                            <label for="keyword" class="sr-only">@Messages.get("member.list.search.label")</label>
                            <input class="form-control" type="input" name="keyword" id="keyword" placeholder="@Messages.get("member.list.search.placeholder")">
                        </div>
                        <div class="col-md-2 col-xs-12">
                            <button type="submit" class="btn btn-default">@Messages.get("member.list.search.button")</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section class="component-index">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>@Messages.get("member.list.table.name")</th>
                            <th>@Messages.get("member.list.table.phone")</th>
                            <th>@Messages.get("member.list.table.city")</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for( member <- members) {
                        <tr>
                            <th class="item-id">@member.getMemberId</th>
                            <td class="item-title">@member.getLastName(), @member.getName()</td>
                            <td class="item-info">@member.getPhone()</td>
                            <td class="item-info">@member.getCity() (@member.getState())</td>
                            <td>
                                <div class="toolbar">
                                    <a href="@routes.MemberController.remove(member.getToken())" class="fa fa-trash-o">&nbsp</a>
                                    <a href="@routes.MemberController.makePayment(member.getToken())" class="fa fa-money">&nbsp;</a>
                                    <a href="@routes.MemberController.edit(member.getToken())" class="fa fa-pencil-square-o">&nbsp</a>
                                    <a href="@routes.MemberController.show(member.getToken())" class="fa fa-folder-open-o">&nbsp;</a>
                                </div>
                            </td>
                        </tr>

                    }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
}
