@(title: String)(content: Html)

@import play.i18n._;

<!DOCTYPE>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("bootstrap/css/bootstrap-theme.min.css")" >
        <link rel="stylesheet" href="@routes.Assets.versioned("font-awesome/css/font-awesome.min.css")" >

        <script src="@routes.Assets.versioned("bootstrap/js/bootstrap.min.js")"></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/jquery-1.9.0.min.js")" type="input/javascript"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">

                <div class="col-md-2 side-bar">
                    <h1 class="input-center app-title">@Messages.get("app.global.title")</h1>

                    <div class="row user-info">
                        <div class="col-md-3 avatar">
                            <img src="@routes.Assets.versioned("images/avatar.jpeg")" class="img-circle"/>
                        </div>
                        <div class=" col-md-8 col-md-offset-1 info">
                            <span>@Messages.get("app.home.welcome")</span>
                            <strong>Julio Fernandez</strong>
                            <a href="#">@Messages.get("app.menu.logout")</a>
                            <a href="#">@Messages.get("app.menu.profile")</a>
                        </div>
                    </div>
                    @common.sidebar()
                </div>

                <div class="col-md-10 content">
                @content
                </div>

            </div>
        </div>
    </body>
</html>
