@()

@import play.i18n.Messages

<nav class="nav-main">
    <div class="nav-item">
        <strong>@Messages.get("app.menu.user.title")</strong>
        <a href="#">@Messages.get("app.menu.user.list")</a>
        <a href="#">@Messages.get("app.menu.user.create")</a>
    </div>
    <div class="nav-item">
        <strong>@Messages.get("app.menu.MemberController.title")</strong>
        <a href="@routes.MemberController.index()">@Messages.get("app.menu.member.list")</a>
        <a href="@routes.MemberController.create()">@Messages.get("app.menu.member.create")</a>
    </div>
    <div class="nav-item">
        <strong>@Messages.get("app.menu.subscription.title")</strong>
        <a href="#">@Messages.get("app.menu.subscription.index")</a>
        <a href="#">@Messages.get("app.menu.subscription.create")</a>
    </div>
    <div class="nav-item">
        <strong>@Messages.get("app.menu.message.title")</strong>
        <a href="#">@Messages.get("app.menu.message.send")</a>
        <a href="#">@Messages.get("app.menu.messageTemplate.index")</a>
        <a href="#">@Messages.get("app.menu.messageTemplate.create")</a>
    </div>
</nav>
